/* Custom Properties */
:root {
  /* -----------------------------------------Colours----------------------------------------- */
  /* ---Blacks--- */
  --black: #010400;

  /* ===Greens=== */

  /* ===Blues=== */
  --blue: #6cefdd;

  /* ===Purples=== */
  --purple: #92117d;

  /* ===Pinks=== */
  --pink: #f42a74;

  /* ===Reds=== */

  /* ===Whites=== */
  --white: #f6f5f5ff;
  /* -----------------------------------------Colours----------------------------------------- */
}
