/* Custom Properties */
:root {
  /* -----------------------------------------Colours----------------------------------------- */
  /* ---Blacks--- */
  --black: #010400;

  /* ===Greens=== */

  /* ===Blues=== */
  --blue: #6cefdd;

  /* ===Purples=== */
  --purple: #92117d;

  /* ===Pinks=== */
  --pink: #f42a74;

  /* ===Reds=== */

  /* ===Whites=== */
  --white: #f6f5f5ff;
  /* -----------------------------------------Colours----------------------------------------- */
}

#simple {
  background-color: var(--blue);
  border: #010400 5px solid;
  border-radius: 10px;
  margin: auto;
  height: 550px;
  width: 400px;
}

.screen {
  background-color: var(--white);
  border: var(--pink) 5px solid;
  border-radius: 10px;
  margin: 20px auto;
  height: 60px;
  width: 350px;
}

.screen:hover {
  background-color: var(--pink);
  border-color: var(--white);
}

.keys {
  margin: auto;
  font-size: 20px;
  color: var(--black);
}

.key {
  background-color: var(--purple);
  margin: auto;
  height: 60px;
  width: 60px;
  border: var(--black) 3px solid;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.row1,
.row2,
.row3,
.row4 {
  display: flex;
  padding: 20px;
}

.key.value:hover {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--purple);
  font-weight: bolder;
  font-size: 30px;
  transform: translate(-5px, -3px);
}

.key.operation:hover {
  background-color: var(--blue);
  color: var(--black);
  border-color: var(--pink);
  font-weight: bolder;
  font-size: 30px;
  transform: translate(-5px, -3px);
}
